@use "./var/colour";
@use "./var/easing";
@use "./var/size";

@use "sass:color";

@import url("normalize.css");

@mixin lightMode {
  --cl-background: #{colour.base("100")};
  --cl-footer: #{colour.base("300")};

  --cl-text: #{colour.base("900")};

  --cl-focus-highlight: #{colour.base("600")};

  --cl-icon: #{colour.base("700")};
  --cl-icon-hover: #{colour.base("900")};

  --cl-input-background: #{colour.base("300")};
  --cl-input-border: #{colour.base("500")};
  --cl-input-text: #{colour.base("800")};

  --cl-button-background: #{colour.base("700")};
  --cl-button-border: #{colour.base("500")};
  --cl-button-text: #{colour.base("100")};

  --cl-switch-background: #{colour.base("500")};
  --cl-switch-handle: #{colour.base("700")};

  --cl-tabs-background: #{colour.base("200")};
  --cl-tabs-border: #{colour.base("300")};
  --cl-tabs-header: #{colour.base("400")};
  --cl-tabs-tab-background: #{colour.base("400")};
  --cl-tabs-tab-active-background: #{colour.base("200")};
  --cl-tabs-tab-highlight: #{colour.brand("500")};
  --cl-tabs-tab-text: #{colour.base("700")};
  --cl-tabs-tab-active-text: #{colour.base("900")};

  --cl-modal-background: #{colour.base("200")};
  --cl-modal-header: #{colour.base("400")};
  --cl-modal-border: #{colour.base("300")};
}

@mixin darkMode {
  --cl-background: #{colour.base("900")};
  --cl-footer: #{colour.base("800")};

  --cl-text: #{colour.base("100")};

  --cl-focus-highlight: #{colour.base("100")};

  --cl-icon: #{colour.base("400")};
  --cl-icon-hover: #{colour.base("100")};

  --cl-input-background: #{colour.base("700")};
  --cl-input-border: #{colour.base("600")};
  --cl-input-text: #{colour.base("200")};

  --cl-button-background: #{colour.base("700")};
  --cl-button-border: #{colour.base("600")};
  --cl-button-text: #{colour.base("100")};

  --cl-switch-background: #{colour.base("800")};
  --cl-switch-handle: #{colour.base("100")};

  --cl-tabs-background: #{colour.base("700")};
  --cl-tabs-border: #{colour.base("800")};
  --cl-tabs-header: #{colour.base("800")};
  --cl-tabs-tab-background: #{colour.base("800")};
  --cl-tabs-tab-active-background: #{colour.base("700")};
  --cl-tabs-tab-highlight: #{colour.brand("500")};
  --cl-tabs-tab-text: #{colour.base("500")};
  --cl-tabs-tab-active-text: #{colour.base("100")};

  --cl-modal-background: #{colour.base("700")};
  --cl-modal-header: #{colour.base("800")};
  --cl-modal-border: #{colour.base("700")};
}

:root {
  --sz-xs: #{size.general("xs")};
  --sz-sm: #{size.general("sm")};
  --sz-md: #{size.general("md")};
  --sz-lg: #{size.general("lg")};
  --sz-xl: #{size.general("xl")};
  --sz-2xl: #{size.general("2xl")};

  --sz-text-sm: #{size.text("sm")};
  --sz-text-md: #{size.text("md")};
  --sz-text-lg: #{size.text("lg")};
  --sz-text-xl: #{size.text("xl")};

  --sz-border-sm: #{size.border("sm")};
  --sz-border-md: #{size.border("md")};
  --sz-border-lg: #{size.border("lg")};

  --cl-button-highlight: #{colour.base("100")};

  --cl-button-brand-background: #{colour.brand("600")};
  --cl-button-brand-border: #{colour.brand("400")};
  --cl-button-brand-text: #{colour.base("100")};

  --cl-button-red-background: #{colour.red("600")};
  --cl-button-red-border: #{colour.red("400")};
  --cl-button-red-text: #{colour.base("100")};

  --cl-button-yellow-background: #{colour.yellow("600")};
  --cl-button-yellow-border: #{colour.yellow("400")};
  --cl-button-yellow-text: #{colour.base("900")};

  --cl-button-green-background: #{colour.green("700")};
  --cl-button-green-border: #{colour.green("400")};
  --cl-button-green-text: #{colour.base("100")};

  --cl-switch-background-active: #{colour.green("600")};
  --cl-switch-handle-active: #{colour.base("100")};

  --cl-modal-backdrop: #{color.adjust(colour.base("900"), $alpha: -0.15)};

  --ef-out-quart: #{easing.out("quart")};
  --ef-out-cubic: #{easing.out("cubic")};
}

:root,
.--light {
  @include lightMode();
}

.--dark {
  @include darkMode();
}

// @media (prefers-color-scheme: dark) {
//   :root {
//     @include darkMode();
//   }
// }

body {
  min-height: 100svh;
  background-color: var(--cl-background);
  font-family: system-ui, sans-serif;
  font-size: var(--sz-text-md);
  color: var(--cl-text);
}

p {
  all: unset;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  all: unset;
  display: block;
}

*,
:root {
  scroll-behavior: smooth;
  box-sizing: border-box;
  line-height: 1.618;
  transition:
    color 350ms var(--ef-out-quart),
    background-color 350ms var(--ef-out-quart);
}
