@mixin visuallyHidden {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
}

.\$visually-hidden {
  @include visuallyHidden();
}

.\$input {
  all: unset;
  padding: var(--sz-xs);
  border: var(--sz-border-md) solid var(--cl-input-border);
  background-color: var(--cl-input-background);
  font-size: var(--sz-text-md);
  color: var(--cl-input-text);
}
