// Major breakpoints
$breakpoint-sm: 300px;
$breakpoint-md: 600px;
$breakpoint-lg: 900px;
$breakpoint-xl: 1200px;

// General purpose/layout
$xxs: 0.125rem;
$xs: 0.25rem;
$sm: 0.5rem;
$md: 1rem;
$lg: 1.5rem;
$xl: 2rem;
$xxl: 3rem;

// Text
$text-sm: 0.833rem;
$text-md: 1rem;
$text-h6: 1.2rem;
$text-h5: 1.44rem;
$text-h4: 1.728rem;
$text-h3: 2.074rem;
$text-h2: 2.488rem;
$text-h1: 2.986rem;

// Icons
$icon-sm: 2rem;
$icon-md: 3rem;
$icon-lg: 4rem;
$icon-xl: 5rem;
